@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Tenor+Sans&family=Whisper&display=swap") * {
  font-family: "Merriweather", serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  padding: 15px 0px;
  background-color: whitesmoke;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: 500;
}
.nav-tittle {
  font-size: 2.8rem;
  font-weight: 700;
}
/* banner */
.banner-content {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  max-width: 800px;
}
.banner-tittle {
  font-size: 4rem;
  font-weight: 700;
}
.primary-btn {
  font-size: 25px;
  padding: 15px 25px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: yellowgreen;
}
