@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Tenor+Sans&family=Whisper&display=swap") * {
  font-family: "Merriweather", serif;
}
.para,
.facts-tittle {
  color: gray;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  padding: 15px 0px;
  background-color: whitesmoke;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: 500;
}
.tittle {
  font-size: 2.8rem;
  font-weight: 700;
}
/* banner */
.banner-content {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  max-width: 800px;
}
.banner-tittle {
  font-size: 4rem;
  font-weight: 700;
}
.primary-btn {
  font-size: 25px;
  padding: 15px 25px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: yellowgreen;
  color: white;
}
.banner img {
  width: 100%;
}

/* teams */
.teams-container {
  display: flex;

  text-align: center;
  margin-top: 30px;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams-content {
  padding-left: 70px;
  padding-right: 80px;
  padding-top: 150px;
  align-items: center;
}
.teams-content-tittle {
  font-size: 50px;
  font-weight: 700;
}
.text-feature {
  color: rgb(228, 133, 8);
}
.quick {
  color: gray;
}
.our {
  color: black;
}
/* facts */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid rgb(228, 133, 8);
  text-align: center;
  padding: 40px 30px;
}
.facts-card-container .card-stats {
  font-size: 2, 8rem;
  margin-top: 10px;
  margin-bottom: 15px;
}
.facts-card-container .facts-tittle {
  font-size: 1.25rem;
}

/* mobile */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container {
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
/* tablet */
@media screen and (min-width: 576px) and(max-width:992px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-img-container {
    flex-direction: column;
    padding: 0 10px;
  }
  .primary-btn {
    padding: 5px;
  }
}
